.sd-layout {
    display: flex;
    flex-direction: row;
}

.sd-left-nav {
    background-color: white;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.sd-left-nav a {
    padding: 1rem;
}

.sd-left-nav a:hover {
    background-color:lightskyblue;
}
